# Node & Composer
node_modules
vendor

# Git
.git
.gitignore

# Environnement local
.env
.DS_Store
Thumbs.db

# Logs et caches
storage/*.key
storage/*.log
storage/framework/*
storage/logs/*

# Build locaux
public/build





